# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.local

# Data files
*.csv
*.xlsx
*.json
*.parquet

# Nhưng vẫn giữ folder data bằng .gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/metadata/.gitkeep

# Cho phép crawler source files và dataset chính
!crawler/output/*.json
!crawler/html_input/*.html
!data/vietnam_it_jobs_raw.csv

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/